@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");

:root {
  --main-color: rgb(236, 171, 19);
  --hover-main-color: rgb(237, 178, 41);
  --secondary-color: rgb(244, 225, 179);
  --hover-secondary-color: rgb(245, 232, 201s);
}

button.main-btn {
  background-color: var(--main-color);
  color: white;
}
button.main-btn:hover {
  background-color: var(--hover-main-color);
  color: white;
}
button.secondary-btn {
  background-color: var(--secondary-color);
  color: var(--main-color);
}
button.secondary-btn:hover {
  background-color: var(--hover-secondary-color);
  color: var(--main-color);
}
a:hover {
  color: var(--main-color) !important;
}
/* Start Navbar */
.logo {
  color: var(--main-color);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
/* End Navbar */

/* Start Services */
.custom-form-control:hover,
.custom-form-control:focus {
  border-color: var(--main-color) !important;

  box-shadow: 0 0 0 0.25rem var(--secondary-color);
}

.form-control[as="textarea"]:focus,
.form-control[as="textarea"]:hover {
  border-color: var(--main-color) !important;
  box-shadow: 0 0 0 0.25rem var(--secondary-color);
}

.input-group > .form-select:focus,
.input-group > .form-select:focus {
  border-color: var(--main-color) !important;
  box-shadow: 0 0 0 0.25rem var(--secondary-color);
}

.large-radius {
  border-radius: 1.5rem !important;
}

.file-upload-box {
  border-style: dotted !important;
  border-color: var(--secondary-color) !important;
  opacity: 0.8;
}

/* End Services */
